<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Software Engineer" />
    <meta name="robots" content="index, follow" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Andrei Visan | Programming Life</title>
</head>

<body>
    <header class="main-head">
        <nav>
            <div class="logo">
                <img src="../static/assets/icons/code.svg" alt="logo">
                <h1>programming life</h1>
            </div>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/resume.html">Resume</a></li>
                <li><a class="active" href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="form-section">
        <form action="https://formspree.io/f/xoqppjaa" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required>
            <label for="email">Email</label>
            <input type="email" name="_replyto" id="email" required>
            <label for="message">Message</label>
            <textarea name="mesasge" id="message" cols="30" rows="10"></textarea>
            <button type="submit" value="Send">Submit</button>
        </form>
    </section>

    <footer>
        <h4>programming life &copy; 2020</h4>
        <ul>
            <li><a href="https://www.youtube.com/c/programminglifeio" target="_blank"><img
                        src="../static/assets/icons/youtube-symbol 1.svg" alt="youtube-social"></a></li>
            <li><a href="https://www.instagram.com/programminglife.io/" target="_blank"><img
                        src="../static/assets/icons/instagram 1.svg" alt="instagram-social"></a></li>
            <li><a href="https://github.com/andreivisan" target="_blank"><img
                        src="../static/assets/icons/github-symbol.svg" alt="github-social"></a></li>
            <li><a href="https://www.linkedin.com/in/andreivisan/" target="_blank"><img
                        src="../static/assets/icons/linkedin-symbol.svg" alt="linkedin-social"></a></li>
        </ul>
    </footer>
</body>

</html>